asgiref==3.8.1
autocommand==2.2.2
backports.tarfile==1.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.17
idna==3.10
importlib_metadata==8.5.0
inflect==7.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
more-itertools==10.5.0
platformdirs==4.3.6
requests==2.32.3
sqlparse==0.5.3
tomli==2.2.1
typeguard==4.4.1
typing_extensions==4.12.2
urllib3==2.2.3
uWSGI==2.0.28
zipp==3.21.0
