{% extends 'note/base/base.html' %}
{% load static %}

{% block link %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/jquery-ui/jquery-ui.min.css' %}">
{% endblock %}

{% block bank_account %}active{% endblock %}

{% block page-title %}계좌번호 관리{% endblock %}
{% block page-path %}
    <li class="breadcrumb-item active">계좌번호 관리</li>
{% endblock %}

{% block content %}
    <!-- Default box -->
    <div class="card">
        <div class="card-body">
            <table id="table-data" class="table table-bordered table-striped" style="width:100%">
                <thead>
                <tr>
                    <th></th>
                    <th>번호</th>
                    <th>은행</th>
                    <th>계좌번호</th>
                    <th>예금주</th>
                    <th>설명</th>
                </tr>
                </thead>

                <!-- 필터 항목 -->
                <tfoot id="table-foot">
                <tr>
                    <th data-column="0"></th>                       <!-- 체크 박스 -->
                    <th data-column="1"></th>                       <!-- 번호 -->
                    <th data-column="2"><input type="text"></th>    <!-- 은행 -->
                    <th data-column="3"><input type="text"></th>   <!-- 계좌번호 -->
                    <th data-column="4"><input type="text"></th>   <!-- 예금주 -->
                    <th data-column="5"><input type="text"></th>   <!-- 설명 -->
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- 계좌번호 추가 -->
    <div class="modal fade" id="menu-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">계좌번호 추가</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group row">
                                <label for="bank" class="col-sm-3 control-label">은행<span class="text-red">*</span></label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="bank" placeholder="은행을 입력하십시오.">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="account" class="col-sm-3 control-label">계좌번호<span class="text-red">*</span></label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="account" placeholder="계좌번호를 입력하십시오.">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="account-holder" class="col-sm-3 control-label">예금주<span class="text-red">*</span></label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="account-holder" placeholder="예금주를 입력하십시오.">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="description" class="col-sm-3 control-label">설명</label>

                                <div class="col-sm-9">
                                    <textarea rows="5" class="form-control" id="description" placeholder="설명을 입력하십시오."></textarea>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" id="btn-reset">초기화</button>
                    <button type="button" class="btn btn-primary" id="btn-ok">추가</button>
                    <button type="button" class="btn btn-default pull-right" id="btn-cancel" data-dismiss="modal">취소</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- 계좌번호 추가 -->
{% endblock %}

{% block script %}
    <script src="{% static 'note/bank_account.js' %}"></script>

    <!-- DataTables  & Plugins -->
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}